<%= form_with(url: login_path)  do |f| %>
    
    <div class="mb-3">
      <div class="form-label">
        <%= f.label :email %>
      </div>
      <%= f.email_field :email %>
      <div id="emailHelp" class="form-text">We will never share your email with anyone else.</div>
    </div>

      <div class="mb-3">
        <div class="form-label">
          <%= f.label :password %>
        </div>
        <div class="form-text">
          <%= f.password_field :password %>
        </div>
          </br>
  
      </div>
      <div class="btn btn-primary"><%= submit_tag "Login" %></div>
      
  <% end %>