<h1> EDIT PROFILE </h1>
<%= form_with(model: @user, url: user_path(@user)) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
        </br>
        </br>
        <%= f.label :profile_picture %>
        <%= f.file_field :profile_picture %>
        </br>
    <%= f.label :password %>
    <%= f.password_field :password %>
        </br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>


    <%= f.submit  %>
<% end %>
