<h1>SIGNUP</h1>


<%= form_with(model: @user, url: signup_path)  do |f| %>
    
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :username %>
    <%= f.text_field :username %>
        </br>
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
        </br>
    <%= f.label :email %>
    <%= f.email_field :email %>
        </br>
        
    <%= f.label :birthday %>
    <%= f.date_field :birthday, value: "YYYY-DD-MM" %>
        </br>
    <%= f.label :password %>
    <%= f.password_field :password %>
        </br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>


    <%= f.submit %>
<% end %>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>