<h1 class="text-center">Signup</h1>

<%= render partial: 'layouts/error', locals: {object: @user} %>

<div class="card text-center" style="width: 36rem;">
<div class="card-body">

<%= form_with(model: @user, url: signup_path)  do |f| %>
  
  <div class="mb-3">
    <div class="form-label">
      <%= f.label :email %>
    </div>
    <%= f.email_field :email %>
    <div id="emailHelp" class="form-text">We will never share your email with anyone else.</div>
  </div>
  
  <div class="mb-3">
    <div class="form-label">
      <%= f.label :username %>
    </div>
    <div class="form-text">
      <%= f.text_field :username %>
    </div>
    </div>

    <div class="mb-3">
    <div class="form-label">
    <%= f.label :profile_picture %>
    </div>
    <%= f.file_field :profile_picture, accept: "image/jpeg, image/gif, image/png, image/pdf"%>
</div>
    <div class="mb-3">
      <div class="form-label">
        <%= f.label :password %>
      </div>
      <div class="form-text">
        <%= f.password_field :password %>
      </div>
        </br>


    <div class="mb-3">
      <div class="form-label">
        <%= f.label :password_confirmation %>
      </div>
      <div class="form-text">
        <%= f.password_field :password_confirmation %>
      </div>
        </br>

    </div>
    <div class="btn btn-primary"><%= submit_tag "Signup" %></div>
    
<% end %>
</div>
</div>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>