<h1>WELCOME <%= @user.username %></h1>

<%= @user.standard_date %>
<%= @user.email %></br>

<h3>Your reviews</h3> </br>
<%= render partial: 'reviews/review', :collection => @reviews %>

<h3>Strains You Reviewed</h3>
<% @strains.each do |strain| %>
    <%= strain.name %>
<% end %>

<h3>Your Favorites</h3>
<% @user.favorites.each do |favorite| %>
    <%= favorite.name %></br>
<% end %>


<%= button_to "Logout", logout_path %>
<%= button_to "Delete Account", user_path(@user), method: :delete %> 
<%= link_to "Edit Account", edit_user_path(@user)%> 