<h1>WELCOME <%= @user.username %></h1>

<%= @user.standard_date %>
<%= @user.email %></br>

<%= button_to "Logout", logout_path %>
<%= button_to "Delete Account", user_path(@user), method: :delete %> 
<%= link_to "Edit Account", edit_user_path(@user)%> 

<h3>Your reviews</h3>
<%= render(partial: 'reviews/review', collection: @reviews) || "No reviews found"%>


<h3>Strains You Reviewed</h3>
<%= render(partial: 'strains/strain', collection: @strains) || "No strains found" %>
 

<h3><%= link_to "Your Favorites", user_favorites_path(current_user) %></h3>
<% @favorites.each do |favorite| %>
    <%= favorite.name %></br>
<% end %>