<h1>WELCOME <%= @user.username %></h1>

<%= @user.standard_date %>
<%= @user.email %></br>

<h3>Your reviews</h3> </br>
<% @user.reviews.each do |review| %>
    <%= review.context %></br>
    <%= review.rating %>/10</br>
<% end %>

<h3>Strains You Reviewed</h3>
<% @user.strains.each do |strain| %>
    <%= strain.name %>
<% end %>

<%= button_to "Logout", logout_path %>