<h1>Are you at least 21 years of age?</h1>

</br>

<%= form_with(url: root_path, method: :get) do |f| %>
  <%= f.radio_button :choice, "yes" %>
  <%= f.label :choice_yes, "YES" %>
  <%= f.radio_button :choice, "no" %>
  <%= f.label :choice_no, "NO" %>
  <%= f.submit "Submit" %>
<% end %>