<% if @review.errors.any? %>
<div id="error_explanation">
  <h2>There were some errors:</h2>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: @review, url: strain_reviews_path) do |f| %>
    <%= f.hidden_field :strain_id %>
    <%= f.hidden_field :user_id %>
    
    <br>
    <%= f.label :context %>
    <%= f.text_area :context %>
    </br>

    <%= f.label :rating %>
    <%= f.number_field :rating %>
  
    <%= f.submit %>
  <% end %>