<h1>ALL STRAINS</h1>

<%= form_with(url: strains_path, method: :get) do |f| %>
    <%= f.label :search, "Search strains by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>
</br>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <%= render @strains  %>  
</div

