<h1>ALL STRAINS</h1>

    <%= render @strains  %>  

<%= form_with(url: strains_path, method: :get) do |f| %>
    <%= f.label :search, "Search strains by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>