<h1 class="text-center">All Strains</h1>
<%= link_to "New Strain", new_strain_path %>

<%= form_with(url: strains_path, method: :get) do |f| %>
    <%= f.label :search, "Search strains by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>

<%= form_with(url: strains_path, method: :get) do |f| %>
    <%= f.label :filter, "Filter by" %>
    <%= f.select :filter, value: "thc content" %>
    <%= f.submit "Search" %>
<% end %>
</br>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <%= render @strains  %>  
</div

