<h1 class="text-center"> Create a new strain </h1>

<% if @strain.errors.any? %>
<div id="error_explanation">
  <h2>There were some errors:</h2>
  <ul>
    <% @strain.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for(@strain) do |f| %>
    
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :thc_content %>
    <%= f.number_field :thc_content %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit %>
<% end %>

    

    

    