<h1 class="text-center"><%= @strain.name %></h1></br>
<%= flash[:notice] if flash[:notice]%>
<% if current_user %>
    <%= render partial: 'favorites/form' %>
<% end %>

<%= @strain.category.name %></br>
<p>Description: <%= @strain.description.capitalize %></p>
<p>THC Content: <%= @strain.thc_content %>%</p></br>
<%= button_to "Delete Strain", strain_path(@strain), method: :delete %>
<%= link_to "Edit Strain", edit_strain_path(@strain) %></br>
<%= link_to "All Reviews", strain_reviews_path(@strain) %></br>
<%= link_to "New Review", new_strain_review_path(@strain) %></br>
<%= link_to "Edit Review", edit_strain_review_path(@strain) %>
