<h1 class="text-center"><%= @strain.name %></h1></br>
<%= favorite_button %>

<%= @strain.category_name %></br>
<p>Description: <%= @strain.description.capitalize %></p>
<p>THC Content: <%= @strain.thc_content %>%</p></br>
<%= button_to "Delete Strain", strain_path(@strain), method: :delete %>
<%= link_to "Edit Strain", edit_strain_path(@strain) %></br>
<%= link_to "All Reviews", strain_reviews_path(@strain) %></br>
<%= link_to "New Review", new_strain_review_path(@strain) %></br>
