<!DOCTYPE html>
<html>
  <head>
    <title>CannaStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body>
  

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #198754;">
  <a class="navbar-brand" href="/"> <h1> CannaStore </h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= strains_path %>">Strains</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= categories_path %>">Categories</a>
      </li>
        <% if logged_in? %>
        <li class="nav-item">
          <a class="nav-link" href=" <%= user_path(current_user) %>">Account</a>
        </li>
        <li class="nav-item">
        </li>

      <ul class="nav navbar-nav ml-auto">
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= signup_path %>"><span class="fas fa-user"></span> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
        <% end %>


      <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
